body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.country {
  font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}
.country-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chart-btn {
  border: none;
    padding: 10px 15px;
    border-radius: 3px;
    background-color: #f4efef;
    width: 200px;
    transition: box-shadow 2s linear;
    cursor: no-drop;
    pointer-events: none;
}
.chart-btn.active {
  box-shadow: inset 200px 0px 0px 0px #4bc0c0;
}